.site-branding {
	border-bottom: 10px solid $color_border-heading;
	margin-bottom: 10px;
	
}

.site-title {
	a, 
	a:visited, 
	a:hover, 
	a:active {
		text-decoration: none;
		letter-spacing: 2px;
		color: $color__logo;
		font-family: georgia;
	}
	margin-bottom: .1em;
}

.site-description {
	@include px-convert(16);
	margin: 0 0 10px;
}

#page-header {
	width: 100%;
	position: fixed;
	background-color: $color__background-body;
	border-bottom: 1px solid #999;
}