
.site-title {
	a, 
	a:visited, 
	a:hover, 
	a:active {
		text-decoration: none;
		letter-spacing: 2px;
		color: $color__logo;
		font-family: georgia;
	}
	margin-bottom: .1em;
	@include px-to-rem(34);
	border-bottom: 1px dotted $color_border-heading;
}

.site-description {
	@include px-to-rem(16);
	margin: 0 0 10px;
}

#page-header {
	width: 100%;
	position: fixed;
	background-color: $color__background-body;
	border-bottom: 1px solid #999;
}
#masthead {
	padding: 10px 15px 3px;
}