@import 'header';

@import 'footer';


#page-inner {
	max-width: $size__site-width;
	width: 85%;
	margin: 0 auto;
	background-color: $color__background-body;
	border: 1px solid $color__border-default;
	padding: 105px 20px 20px;
}
#page {
	background-color: $color__background-wrapper;
}