@import 'header';

@import 'footer';


#page-inner {
	max-width: $size__site-width;
	width: 85%;
	margin: 0 auto;
	background-color: $color__background-body;
	border: 1px solid $color__border-default;
	padding: 105px 20px 20px;
}
#page {
	background-color: $color__background-wrapper;
}
.sp-col {
	float: left;
	&.w25{
		width: 24.9999%;
	}
	&.w33{
		width: 33.32222%;
	}
	&.w50 {
		width: 49.9999%;
	}
	&.w66 {
		width: 66.6555%;
	}
	&.w75 {
		width: 74.9999%;
	}
	&.w100{
		width: 100%;
	}
}
.clear-fix{
	clear: both;
}