@import 'header';
@import '../variables-site/colors';
@import 'footer';


#page-inner {
	max-width: $size__site-width;
	margin: 0 auto;
	background-color: $color__background-body;
	padding: 10px 20px 20px;
	min-width: $size__site-min-width;
	@include mobile {
		padding: 10px
	}
}
#page {
	background-color: $color__background-wrapper;
}
.sp-col {
	float: left;
	padding: 0 .5%;
	&.w25{
		width: 24.9999%;
		@include mobile-narrow {
			width: 100%;
		}
	}
	&.w33{
		width: 33.32222%;
		@include mobile-narrow {
			width: 100%;
		}
	}
	&.w50 {
		width: 49.9999%;
		@include mobile-narrow {
			width: 100%;
		}
	}
	&.w66 {
		width: 66.6555%;
		@include mobile-narrow {
			width: 100%;
		}
	}
	&.w75 {
		width: 74.9999%;
		@include mobile-narrow {
			width: 100%;
		}
	}
	&.w100{
		width: 100%;
	}
	@include mobile-narrow {
		float: none;
	}
}
.clear-fix{
	clear: both;
}

body {
	min-width: $size__site-min-width;
}

.page-template-homepage {
	#page-inner {
		max-width: none;
		padding: 0;
	}
}

/* Homepage Widget Area */

#homepage-widget-area {
	font-size: 25px;
	margin: 0 auto;
	float: none;
	padding: 0;

	h2 {
		text-align: center;
	}
}

.homepage-widget-block {
	//beige
	background-color: #F5deb3;
	padding: 20px 0;
}

.homepage-widget-content {
	margin: 0 auto;
}

.homepage-widget-content-limited {
	max-width: 900px;
	margin: 0 auto;
}

.homepage-widget-block:nth-child(1) {
	background-color: #4682b4;
	color: #fff;
}

.homepage-widget-block:nth-child(3) {
	// gray
	background-color: #3f3a42;
	color: #fff;
	a{
		color: #F5deb3;
	}
}

.homepage-widget-block:nth-child(4) {
	background-color: cadetblue;
	color: #fff;
}