@font-face {
	font-family: poppins-light;
	src: url(../fonts/poppins/Poppins-Light.ttf);
	font-weight: normal;
}

@font-face {
	font-family: poppins-bold;
	src: url(../fonts/poppins/Poppins-Bold.ttf);
	font-weight: normal;
}	