.widget {
	margin: 30px 5% 0 0;
	padding: 0 30px 5px;
	border: 1px solid $color__border-light;
	@include non-desktop {
		margin: 30px 0 0 0;
		padding: 20px;
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	img {
		&.alignleft,
		&.alignRight {
			display: block;
			margin: 0 auto;
			float: none;
		}
	}
	.crayon-syntax {
		display: none;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
