/* Responsive Mixins */
/* logo area */
/* line 4, ../../sass/layout/content-sidebar.scss */
.content-area {
  float: left;
  margin: 0 -34% 0 0;
  width: 66%;
  padding-right: 20px;
}
@media (min-width: 0) and (max-width: 767px) {
  /* line 4, ../../sass/layout/content-sidebar.scss */
  .content-area {
    margin: 0 0 0 0;
    width: 100%;
    padding-right: 0px;
  }
}

/* line 20, ../../sass/layout/content-sidebar.scss */
.site-content .widget-area {
  float: right;
  overflow: hidden;
  width: 34%;
}
@media (min-width: 0) and (max-width: 767px) {
  /* line 20, ../../sass/layout/content-sidebar.scss */
  .site-content .widget-area {
    width: 100%;
  }
}

/* line 29, ../../sass/layout/content-sidebar.scss */
.site-footer {
  clear: both;
  width: 66%;
}
