// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

//accepts pixels and calls font-size function to returm rem equivalent
@mixin px-to-rem($pxValue: 16) {
	@include font-size( ($pxValue / 16) );
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

/* Responsive Mixins */

@mixin mobile {
	@media (min-width: 0) and (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin mobile-narrow {
	@media (min-width: 0) and (max-width: #{$mobile-wide-width - 1px}) {
		@content;
	}
}

@mixin non-mobile {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin desktop-wide {
	@media (min-width: #{$desktop-wide-width}) {
		@content;
	}
}
