a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
.header-social {
	position: absolute;
	right: 0%;
	top: 8%;
	@include mobile {
		display: none;
	}
	.icon {
		margin-right: 10px;
		&.linkedin {
			background: $sprite-url no-repeat sprite-position($icons, linkedin);
			padding: 8px 18px;
		}
		&.github{
			background: $sprite-url no-repeat sprite-position($icons, github);
			padding: 0px 41px;

		}
	}
	.phone_number{
		text-decoration: none;
		font-size: 28px;
	}
}

#mobile-phone-number {
	font-size: 25px;
	@include non-mobile{
		display: none;
	}
}