.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.left-33 {
	img {
		max-height: 160px;
		left: 25%;
		right: 25%;
		position: relative;
	}
}

.listing-container {
	position: relative;
	padding: 10px;
	transition: all .5s ease;
	&:hover {
		background-color: #f2f2f2;
	}
	margin-bottom: 10px;
	border: 1px dashed $color__border-default;

}

