.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.sp-col {
	&.w25 {
		img {
			max-height: 160px;
			left: 25%;
			right: 25%;
			position: relative;
			top: 25%;
			height: 100%;
			vertical-align: middle;
			max-width: 160px
		}
	}
}

.listing-container {
	position: relative;
	padding: 10px;
	transition: all .5s ease;
	&:hover {
		background-color: #f2f2f2;
	}
	border: 1px dashed $color__border-default;

}

