.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.sp-col {
	&.w25 {
		img {
			position: relative;
			height: 100%;
			vertical-align: middle;
			max-width: 160px
		}
	}
}

.img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.listing-container {
	position: relative;
	padding: 10px;
	transition: all .5s ease;
	&:hover {
		background-color: #f2f2f2;
	}
	border: 1px dashed $color__border-default;

}

#main {
	border: 1px solid $color__border-light;
	margin: 30px 3%;
	padding: 30px;
}

